.highlight {
  background: #f8f8f8;
  padding: 1px 1em;
  border-radius: 3px;
  font-size: 1em;
  font-size: 0.9em;
  overflow: auto;
  margin: 1em -1em;
  code {
    padding: 0;
  }
}

div.highlight {
  display: grid;
}

// @import "./code/default";
@import "./code/github-mine";
